ul {
  display: flex;
  width: 100%;
  background: #028a7e;
  background: #3f4257;
  justify-content: flex-end;
  padding-right: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: white;
}

ul li a:hover {
  background: #494c62;
}
