.profile {
  display: flex;
  width: 70%;
  margin-top: 80px;
}

/* user info */
.profile_info {
  width: 50%;
}

.profile_info p {
  padding-top: 30px;
}

/* btns */
.btns {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.btns button {
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  /* padding: 10px; */
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.btns a {
  background: #42a445;
  border: none;
  color: white;
}

.btns a:hover {
  background: #3e8b41;
}

.btns button:last-child {
  background: #f33a2f;
  border: none;
  color: white;
}

.btns button:last-child:hover {
  background: #d6332a;
}
